<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
<div class="philosophers">
  <div class="intro">
    <p class="text-center">AboutMyQuotes</p> <br>
  <p id="quotesbestIntro">
    Life is a beautiful journey that is meant to be embraced to the fullest every day. <br>
     Whether a funny quote from a famous celebrity or an encouraging message about giving it your best from a successful business person, <br>
      we can all use a little motivation and inspiration these days via a life quote.

    myQuote allows you to add your own choice of quote as well as upvote and downvote added quotes. Enjoy!</p>
  </div>
  <div class="intro1">
    <div class="quotes">
      <h2>Great quote Authors</h2>
      <ul>
        <li><a href="https://www.philosophybasics.com/philosophers_wittgenstein.html">Ludwig Wittgeinstein</a></li>
        <li><a href="https://www.philosophybasics.com/philosophers_descartes.html">Rene Descartes</a></li>
        <li><a href="https://www.philosophybasics.com/philosophers_locke.html">John_locke</a></li>
        <li><a href="https://www.philosophybasics.com/philosophers_mill.html">John Stuart Mill</a></li>
        <li><a href="https://www.philosophybasics.com/philosophers_kant.html">Immanuel Kant</a></li>
      </ul>
    </div>

    <div class="quotes">
      <h2>Great quote Authors</h2>
      <ul>
        <li><a href="https://www.philosophybasics.com/philosophers_machiavelli.html">Niccollo Machiaveli</a></li>
        <li><a href="https://www.philosophybasics.com/philosophers_hobbes.html">Thomas Hobbes</a></li>
        <li><a href="https://www.philosophybasics.com/philosophers_russell.html">Bertrand Russel</a></li>
        <li><a href="https://www.philosophybasics.com/philosophers_aristotle.html">Aristotle</a></li>
        <li><a href="https://www.philosophybasics.com/philosophers_plato.html">Plato</a></li>
      </ul>
    </div>

        <div class="quotes">
      <h2>Great quote Authors</h2>
      <ul>
        <li><a href="https://www.philosophybasics.com/philosophers_socrates.html">Socrates</a></li>
        <li><a href="https://www.philosophybasics.com/philosophers_marx.html">Karl Marx</a></li>
        <li><a href="https://www.philosophybasics.com/philosophers_nietzsche.html">Friedrich Nietzsche</a></li>
        <li><a href="https://www.philosophybasics.com/philosophers_epicurus.html">Epicurus</a></li>
        <li><a href="https://www.philosophybasics.com/philosophers_sartre.html">John-Paul</a></li>
      </ul>
    </div>

  </div>
  <app-quote-form (postQuote)="postNewQuote($event)"></app-quote-form>

</div>
<div *ngFor="let quote of quotes">
  {{quote.Author}}
  {{quote.Name}}
  {{quote.quote}}
</div>
</body>
</html>
