<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
<div>
  <div class="intro">
    <p>AboutMyQuotes</p>
  <p>About myQuote
    Life is a beautiful journey that is meant to be embraced to the fullest every day. Whether a funny quote from a famous celebrity or an encouraging message about giving it your best from a successful business person, we can all use a little motivation and inspiration these days via a life quote.

    myQuote allows you to add your own choice of quote as well as upvote and downvote added quotes. Enjoy!</p>
  </div>
  <div class="intro">
    <div>
      <h2>Great quote Authors</h2>
      <ul>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
      </ul>
    </div>

    <div>
      <h2>Great quote Authors</h2>
      <ul>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
      </ul>
    </div>

    <div>
      <h2>Great quote Authors</h2>
      <ul>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
      </ul>
    </div>

  </div>


</div>


  <app-myproject></app-myproject>
</body>
</html>
