<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
<div>
  <div class="intro">
    <p>intro works!</p>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rem quas tempora a neque, nam ex asperiores ad aut facere eaque. <br>
     Maiores minima eveniet illo, tempore minus illum doloribus eligendi rem?</p>
  </div>
  <div class="intro">
    <p>intro works!</p>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rem quas tempora a neque, nam ex asperiores ad aut facere eaque. <br>
     Maiores minima eveniet illo, tempore minus illum doloribus eligendi rem?</p>
  </div>
  <div class="intro">
    <p>intro works!</p>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rem quas tempora a neque, nam ex asperiores ad aut facere eaque. <br>
     Maiores minima eveniet illo, tempore minus illum doloribus eligendi rem?</p>
  </div>
  <div class="intro">
    <p>intro works!</p>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rem quas tempora a neque, nam ex asperiores ad aut facere eaque. <br>
     Maiores minima eveniet illo, tempore minus illum doloribus eligendi rem?</p>
  </div>
</div>


  <app-myproject></app-myproject>
</body>
</html>
