div {
  height: fit-content;
  width: fit-content;
  border: 3px solid grey;
  background-color: beige;
  border-radius: 7px;
  padding: 2em;
  margin: auto;
}

.intro {
  border: 2px solid grey;
  padding: 1.5em;
  margin: 0.5em;
  margin: auto;
  margin-top: 2em;
  background-color: rgb(211, 202, 202);
  border-radius: 10px;
  text-align: center;
  font-size: medium;
}

.philosophers  {
  margin: 2em;
}
.intro1 {
  border: 2px solid grey;
  padding: 1.5em;
  margin: auto;
  margin-top: 2em;
  background-color: rgb(211, 202, 202);
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.quotes {
  display: flex;
  flex-direction: column;
  color: maroon;
  justify-content: space-evenly;
}

h2 {
  color: maroon;
}


#quotesbestIntro {
  color: maroon;
}
