<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <h1 class="text-center">This {{title}} App belongs to {{name}}</h1>
  <p class="text-center">  This is an application website where users can create quotes <br>
    {{text}}.</p>
<div>
  <div class="col">
    <img src="assets/plato.jpg" alt="" width="">
    <img src="assets/philosopher 2.jpg" alt="" width="">
    </div>
  </div>

  <app-intro></app-intro>


</body>
</html>

