
.col {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: beige;
  height: fit-content;
  width: fit-content;
  border: 3px solid grey;
  border-radius: 7px;
  padding: 2em;
  margin: 1.5em;
}

.LOrem {
  /* display: flex;
  flex-direction: row;
  justify-content: space-around; */
  border: 2px solid grey;
  padding: 1.5em;
  margin: 1.5em;
  background-color: rgb(211, 202, 202);
  border-radius: 10px;
}

h1 {
  font-size: xx-large;
}

@media (max-width:550px){
  .col {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: beige;
    height: fit-content;
    width: fit-content;
    border: 3px solid grey;
    border-radius: 7px;
    padding: 2em;
    margin: 1.5em;
  }
}
