

<div class="container row">

  <div class=" container row" style="border: 2px solid rgba(148, 52, 54, 0.5); padding: 5px 5px;">
      <div class="col-md-3">
          <i (click)='quoteDelete(true)' id="delete" class="fa fa-trash" style="color: grey;"> <span style="color: rgba(58, 68, 39, 1);" > Delete</span></i>
      </div>
      <div class="row col-md-3">
          <i class="fa fa-thumbs-up" (click)='upVote()' id="upvote" style="color: rgba(126, 155, 89, 1);"> <span style="color: rgba(58, 68, 39, 1);" > upvote</span></i>
      </div>

      <div class="row col-md-3">
          <i class="fa fa-thumbs-down" (click)='downVote()' id="downvote" style="color: red;"> <span style="color: rgba(58, 68, 39, 1);" > downvote</span></i>
      </div>

      <div class="col-md-3">
          <p style="line-height: 1em; text-align: center;"> {{votes}} votes </p>
      </div>
  </div>
</div>

