div{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: beige;
  height: fit-content;
  width: fit-content;
  border: 3px solid grey;
  border-radius: 7px;
  padding: 0.5em;
  margin: 2em auto;
  flex-wrap: wrap;
}
small {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.myproject{
border: 2px solid grey;
padding: 1.5em;
margin: 1.5em;
background-color: rgb(211, 202, 202);
border-radius: 10px;
display: flex;
flex-direction: row;
flex-wrap: wrap;
}

.row {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

input {
  height: 2.0em;
  width: 10em;
  margin: .4em auto;
}

textarea {
  height: 9.0em;
  width: 15em;
  margin: .5em;
  border-radius: 10px;
}

button {
  width: fit-content;
  height: fit-content;
  margin: .5em auto;
  background-color: khaki;
  color: blue;
  border-radius: 10px;
}
