<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div>

    <div class="myproject">
<ul>
  <li *ngFor='let Myproject of projects'>
    <div>
<div>
  Quote Author: {{Myproject.Author}}
  Quote: {{Myproject.quote}}.
  Submitted by: {{Myproject.submittedbyname}}

</div>

    </div>
  </li>
  <div>
    Inspirational: {{numberOfLikes1}}
  Terrible: {{numberOfLike1}}
        <button class="btn btn-success" (click)='likeButtonClick1()'>Upvote</button>
        <button class="btn btn-danger" (click)= 'dislikeButtonClick1()'>Downvote</button>
  </div>
  <p>This goal will be complete in {{projects.completeDate|dateCount}} days</p>
  <!-- <div>
    Inspirational: {{numberOfLikes1}}
    Terrible: {{numberOfLike1}}
    <button class="btn btn-success" (click)='likeButtonClick1()'>Upvote</button>
    <button class="btn btn-danger" (click)= 'dislikeButtonClick1()'>Downvote</button>
  </div> -->
</ul>

    </div>
  </div>

</body>
</html>
