<h1>Share your quote</h1>
 <form action="" (ngSubmit)='submitQuote()'>
     <div class="column">
        <label for="name">What is your name?</label>
        <div>
            <input type="text" name="" placeholder="E.g Dwayne Johnson" id="name" [(ngModel)]='newQuote.name' name='name' #name="ngModel">
        </div>
     </div>

     <div class="column">
        <label for="quote">Enter the Quote</label>
        <div>
            <textarea name="" placeholder="Quote here..." id="quote" cols="20" rows="2" [(ngModel)]='newQuote.theQuote' name='theQuote' #name="ngModel"></textarea>
        </div>
     </div>

     <div class="column">
        <label for="author">Who is the author of the quote?</label>
        <div>
            <input type="text" name="" placeholder="E.g Steve Jobs" id="author" [(ngModel)]='newQuote.author' name='author' #name="ngModel">
        </div>
     </div>

     <button type="submit">Add Quote</button>
 </form>
